<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edb.eningabiye.dailysteps">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!--
        <uses-feature android:name="android.hardware.sensor.stepcounter" />
    <uses-feature android:name="android.hardware.sensor.stepdetector" />
    -->
    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/baseline_directions_walk_white_36"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ShareStepsActivity"
            android:label="@string/title_activity_share_steps"
            android:theme="@style/AppTheme" />

        <service
            android:name=".services.ReceiverIntentService"
            android:exported="false" />

        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".services.ServerService"
            android:exported="false" />

        <activity
            android:name=".Messages"
            android:label="@string/title_activity_messages"
            android:theme="@style/AppTheme" />

        <service
            android:name=".services.ClientService"
            android:exported="false" />
        <service
            android:name=".services.NotifyService"
            android:exported="false" />

        <activity
            android:name=".StatActivity"
            android:label="@string/title_activity_stat"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>